# Local K3s storage
storage/

# Secrets
secret.yaml
*.secret.yaml
!/**/localized-*/charts/**/secret.yaml
!/**/localized-*/charts/**/*.secret.yaml

# Secret exceptions
!dev-cluster.secret.yaml

# Non-localized helm charts
/**/charts/
!/**/localized-*/**/charts/

# Visual Studio Code Configuration
.vscode/
